# Data Science Tools and Ecosystem

**Objectives:**
- List popular languages for Data Science.
- Introduce common data science libraries.
- Showcase data science tools.
- Provide examples of arithmetic expressions.
- Convert units (minutes to hours).

# In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia
4. SQL

# Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn

# | Data Science Tools       |
| ------------------------ |
| Jupyter Notebook         |
| R Studio                 |
| Apache Spark             |

In [ ]:
### Examples of Arithmetic Expressions in Python

Below are a few examples of evaluating arithmetic expressions in Python.

1. **Addition:**
3+5
Result: 8

2. **Subtraction:**
10-4
Result: 6

3. **Multiplication:**
6*7
Result: 42

4. **Division:**
20/4
Result: 5

In [1]:
# This is a simple arithmetic expression to multiply then add integers
result = (3 * 4) + 5
result

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
Sajal Chourasia